* {
  font-size: 16px;
  color: #231f20;
}

.banner {
  min-height: 93vh;
}

nav {
  height: 7vh;
  box-shadow: none !important;
  border: 2px solid #231f20;
  border-right: 0;
  border-left: 0;
}
nav .navbar-collapse ul li {
  margin-right: 100px;
}
nav .navbar-collapse ul li:last-child {
  margin-right: 0 !important;
}
nav .navbar-collapse ul li a {
  font-size: 25px;
  font-weight: bold;
  color: #231f20;
}

#description {
  min-height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
.description .text-description span {
  display: block;
  font-weight: 400 !important;
  font-size: 18px;
}
.description .pic-description {
  text-align: center;
}
.description .pic-description img {
  width: 60%;
}

#rooms {
  min-height: 100vh;
  background-color: #989a9b;
}
#rooms .container .row {
  min-height: 100vh;
}
#rooms .container .row .go-rooms {
  height: 30vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#rooms .container .row .go-rooms .text-rooms {
  font-size: 44px;
  font-weight: bold;
}
#rooms .container .row .go-rooms .additional-text-rooms {
  font-size: 22px;
}
#rooms .container .row .go-rooms .btn-go-rooms {
  margin-top: 20px;
  padding: 0 30px 0 30px;
  text-align: center;
  color: #231f20;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid #231f20;
  display: flex;
  align-items: center;
  transition: 0.1s;
}
#rooms .container .row .go-rooms .btn-go-rooms:hover {
  background-color: #231f20;
  color: white !important;
}
#rooms .container .row .go-rooms .btn-go-rooms img {
  width: 28px;
  margin-left: 10px;
  transition: 1s;
}

#restaurant {
  min-height: 100vh;
}

.item-restaurant {
  min-height: 50vh;
  padding: 0 !important;
  cursor: pointer;
}

#pizza {
  background-image: url("../img/slide-pizza.jpg");
  background-size: cover;
  background-position: center center;
}

#eat {
  background-image: url("../img/slide-eat.png");
  background-size: 170%;
  background-position: center center;
}

.item-rest-hover {
  position: relative;
}
.item-rest-hover .layout-item-rest {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #231f20;
  opacity: 0.7;
}
.item-rest-hover:hover .layout-item-rest {
  display: flex;
  z-index: 9;
}
.item-rest-hover:hover .text-rest {
  display: flex;
}
.item-rest-hover .text-rest {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.item-rest-hover .text-rest span {
  border: 3px solid white;
  z-index: 10;
  font-size: 60px;
  color: white;
  padding: 0 25px 0 25px;
  font-weight: bold;
}

#chief .desc-chief {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px 0 20px;
}
#chief .desc-chief .title-desc-chief {
  display: block;
  background-color: #231f20;
  text-transform: uppercase;
  color: white;
  font-size: 38px;
  padding: 0 20px 0 20px;
  font-weight: bold;
}
#chief .desc-chief .text-desc-chief {
  margin-top: 20px;
  text-align: center;
  display: block;
  color: #231f20;
  font-size: 16px;
}

#menu .desc-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px 0 20px;
}
#menu .desc-menu .title-desc-menu {
  display: block;
  background-color: #231f20;
  text-transform: uppercase;
  color: white;
  font-size: 38px;
  padding: 0 20px 0 20px;
  font-weight: bold;
}
#menu .time-work {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400 !important;
}
#menu .time-work .main-time-work {
  font-weight: 400 !important;
}
#menu .time-work .main-time-work .dayswork {
  margin-top: 10px;
}
#menu .time-work .main-time-work .clock-work {
  margin-top: 10px;
}

.card-top#card-1 {
  background-image: url("..img/card-img/card-1.jpg");
  background-size: cover;
  background-position: center center;
}

/*# sourceMappingURL=stykle.css.map */
