* {
  font-size: 16px;
  color: #2b2a29;
}

body {
  padding-bottom: 120px;
}

.container-content-admin {
  margin-top: 70px;
}

.form-admin {
  padding: 30px 20px 30px 20px;
}

.hide {
  display: none !important;
}

.banner {
  min-height: 73vh;
  position: relative;
}
.banner .img-banner {
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url("../img/pic-hotel.png");
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 9;
}
.banner .logo {
  position: absolute;
  right: 4%;
  top: 4%;
  height: 20%;
  z-index: 10;
}
.banner .logo img {
  height: 100%;
}
.banner .go-rooms-banner {
  padding: 0 20px 0 20px;
  font-size: 26px;
  color: #2b2a29;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 20px;
  border: 2px solid #2b2a29;
  cursor: pointer;
  z-index: 10;
  transition: 0.7s;
}
.banner .go-rooms-banner:hover {
  background-color: #2b2a29;
  color: white;
}

.hide {
  display: none !important;
}

.fixed-nav {
  position: fixed !important;
  top: 0;
  z-index: 11;
  width: 100%;
  background-color: white;
}
nav {
  min-height: 7vh;
  box-shadow: none !important;
  border: 2px solid #2b2a29;
  border-right: 0;
  border-left: 0;
  position: relative;
}
nav .arr-up {
  position: absolute;
  right: 20px;
  height: 80%;
  width: 50px;
  cursor: pointer;
}
nav .arr-up img {
  height: 100%;
}
nav .navbar-collapse ul li {
  margin-right: 100px;
}
nav .navbar-collapse ul li:last-child {
  margin-right: 0 !important;
}
nav .navbar-collapse ul li a {
  font-size: 25px;
  font-weight: bold;
  color: #2b2a29;
}

#description {
  min-height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
.description .text-description span {
  display: block;
  font-weight: 400 !important;
  font-size: 18px;
}
.description .pic-description {
  text-align: center;
}
.description .pic-description img {
  width: 60%;
}

#rooms {
  min-height: 100vh;
  background-image: url("../img/background-rooms.png");
  background-size: cover;
  background-position: center center;
}
#rooms .container .row {
  min-height: 100vh;
}
#rooms .container .row .go-rooms {
  height: 30vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
#rooms .container .row .go-rooms .text-rooms {
  font-size: 44px;
  font-weight: bold;
}
#rooms .container .row .go-rooms .additional-text-rooms {
  font-size: 22px;
}
#rooms .container .row .go-rooms .btn-go-rooms {
  margin-top: 20px;
  padding: 0 30px 0 30px;
  text-align: center;
  color: #2b2a29;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid #2b2a29;
  display: flex;
  align-items: center;
  transition: 0.1s;
}
#rooms .container .row .go-rooms .btn-go-rooms:hover {
  background-color: #2b2a29;
  color: white !important;
}
#rooms .container .row .go-rooms .btn-go-rooms img {
  width: 28px;
  margin-left: 10px;
  transition: 1s;
}

#restaurant {
  min-height: 100vh;
}

.item-restaurant {
  min-height: 50vh;
  padding: 0 !important;
  cursor: pointer;
}

#pizza {
  background-image: url("../img/slide-pizza.jpg");
  background-size: cover;
  background-position: center center;
}

#eat {
  background-image: url("../img/slide-eat.png");
  background-size: 170%;
  background-position: center center;
}

.item-rest-hover {
  position: relative;
}
.item-rest-hover .layout-item-rest {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #2b2a29;
  opacity: 0.7;
}
.item-rest-hover:hover .layout-item-rest {
  display: flex;
  z-index: 9;
}
.item-rest-hover:hover .text-rest {
  display: flex;
}
.item-rest-hover .text-rest {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.item-rest-hover .text-rest span {
  border: 3px solid white;
  z-index: 10;
  font-size: 60px;
  color: white;
  padding: 0 25px 0 25px;
  font-weight: bold;
}

#chief .desc-chief {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px 0 20px;
}
#chief .desc-chief .title-desc-chief {
  display: block;
  background-color: #2b2a29;
  text-transform: uppercase;
  color: white;
  font-size: 38px;
  padding: 0 20px 0 20px;
  font-weight: bold;
}
#chief .desc-chief .text-desc-chief {
  margin-top: 20px;
  text-align: center;
  display: block;
  color: #2b2a29;
  font-size: 16px;
}

#menu .desc-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px 0 20px;
}
#menu .desc-menu .title-desc-menu {
  display: block;
  background-color: #2b2a29;
  text-transform: uppercase;
  color: white;
  font-size: 38px;
  padding: 0 20px 0 20px;
  font-weight: bold;
}
#menu .time-work {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400 !important;
}
#menu .time-work .main-time-work {
  font-weight: 400 !important;
}
#menu .time-work .main-time-work .dayswork {
  margin-top: 10px;
}
#menu .time-work .main-time-work .clock-work {
  margin-top: 10px;
}

#card-section {
  margin-top: 100px;
}

.cards {
  width: 100%;
  align-items: flex-start;
  padding-bottom: 120px;
}
.cards .card-item {
  border: 2px solid #c6c6c6;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 30px 0 30px;
  transition: 0.5s;
}
.cards .card-item:hover {
  border: 2px solid white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.cards .card-item .card-top {
  height: 200px;
  width: 100%;
}
.cards .card-item .card-body {
  height: 50%;
  width: 100%;
}
.cards .card-item .card-body .title-card-body {
  text-align: center;
}
.cards .card-item .card-body .title-card-body span {
  font-size: 34px;
  font-weight: bold;
}
.cards .card-item .card-body .text-card-body {
  font-weight: 400 !important;
  text-align: center;
}

.card-top#card-1 {
  background-image: url("../img/card-img/card-1.jpg");
  background-size: cover;
  background-position: center center;
}
.card-top#card-2 {
  background-image: url("../img/card-img/card-2.jpg");
  background-size: cover;
  background-position: center center;
}
.card-top#card-3 {
  background-image: url("../img/card-img/card-3.jpg");
  background-size: cover;
  background-position: center center;
}

.btn-look-more {
  border: 2px solid #2b2a29;
  padding: 0 40px 0 40px;
  color: #2b2a29;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 50px;
}
.btn-look-more:hover {
  background-color: #2b2a29;
  color: white;
}

#contacts {
  height: 100vh;
  background-color: #2b2a29;
}

.contacts {
  margin-top: 100px;
  width: 100%;
}
.contacts .wrapper-soc-net .social-net {
  width: 100%;
}
.contacts .wrapper-soc-net .social-net .item-soc-icon {
  cursor: pointer;
}
.contacts .wrapper-soc-net .social-net .item-soc-icon img {
  height: 60px;
}
.contacts .contats-info {
  margin-top: 100px;
  height: 30vh;
  justify-content: space-around;
}
.contacts .contats-info span {
  color: white !important;
}
.contacts .contats-info .item-cont-info img {
  height: 25px;
  margin-right: 25px;
}

.admin-table thead tr th {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.inp-problem-create#parent_id {
  padding-right: 0 !important;
}
.inp-problem-create#status {
  padding-left: 0 !important;
}

.btn-admin-section {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.btn-admin-section:hover {
  background-color: #9933CC;
  color: white !important;
}

.dashboard-admin-title {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
  font-weight: bold;
}
.dashboard-admin-title div h3 {
  font-weight: bold;
}

.icons {
  fill: #d62f2f;
  width: 30px;
  height: 30px;
}
.icons:hover {
  fill: #ff3535;
}

.actions {
  text-align: center;
}

@media screen and (max-width: 992px) {
  nav .navbar-collapse ul li {
    margin: 0 !important;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
