$mainColorText : #2b2a29;
$mainFontSize: 16px;
$z-index-light : 10;
$z-index-medium : 20;
$z-index-strong : 30;

* {
  font-size: $mainFontSize;
  color: $mainColorText;
}
html, body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.form-admin {
  padding: 30px 20px 30px 20px;
}

.hide {
  display: none !important;
}

.banner {
  min-height: 73vh;
  position: relative;

  .img-banner {
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url("../img/pic-hotel.png");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 9;
  }
  .logo {
    position: absolute;
    right: 4%;
    top: 4%;
    height: 20%;
    z-index: 10;
    img {
      height: 100%;
    }
  }
  .go-rooms-banner {
    padding: 0 20px 0 20px;
    font-size: 26px;
    color: $mainColorText;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 20px;
    border: 2px solid $mainColorText;
    cursor: pointer;
    z-index: 10;
    transition: 0.7s;
    &:hover {
      background-color: $mainColorText;
      color: white;
    }
  }
}
.hide {
  display: none !important;
}
.fixed-nav {
  position: fixed !important;
  top: 0;
  z-index: 11;
  width: 100%;
  background-color: white;
  #navbarNav {
    ul {
      li {
        a {
          //transition: 1.2s;
          //color: white;
        }
      }
    }
  }
}

nav {
  min-height: 7vh;
  box-shadow: none !important;
  border: 2px solid $mainColorText;
  border-right: 0;
  border-left: 0;
  position: relative;
  .arr-up {
    position: absolute;
    right: 20px;
    height: 80%;
    width: 50px;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
  .navbar-collapse {
    ul {
      li {
        margin-right: 100px;
        &:last-child {
          margin-right: 0 !important;
        }
        a {
          font-size: 25px;
          font-weight: bold;
          color: $mainColorText;
        }
      }
    }
  }
}

#description {
  min-height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  .text-description {
    span {
      display: block;
      font-weight: 400 !important;
      font-size: 18px;
    }
  }
  .pic-description {
    text-align: center;
    img {
      width: 60%;

    }
  }
}

#rooms {
  min-height: 100vh;
  //background-color: #989a9b;
  background-image: url("../img/background-rooms.png");
  background-size: cover;
  background-position: center center;
  .container {
    .row {
      min-height: 100vh;
      .go-rooms {
        height: 30vh;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow:  0 10px 15px rgba(0, 0, 0, 0.1);
        .text-rooms {
          font-size: 44px;
          font-weight: bold;
        }
        .additional-text-rooms {
          font-size: 22px;
        }
        .btn-go-rooms {
          margin-top: 20px;
          padding: 0 30px 0 30px;
          text-align: center;
          color: $mainColorText;
          font-size: 30px;
          font-weight: bold;
          border: 3px solid $mainColorText;
          display: flex;
          align-items: center;
          transition: 0.1s;
          &:hover {
            background-color: $mainColorText;
            color: white !important;

          }
          img {
            width: 28px;
            margin-left: 10px;
            transition: 1s;
          }
        }
      }
    }
  }
}

#restaurant {
  min-height: 100vh;
}

.item-restaurant {
  min-height: 50vh;
  padding: 0 !important;
  cursor: pointer;
}

#pizza {
  background-image: url('../img/slide-pizza.jpg');
  background-size: cover;
  background-position: center center;
}

.action-link {
  svg {
    width: 25px;
    height: 25px;
    fill: #ce0004;
  }
  &:hover {
    svg {
      fill: #ff0004;
    }
  }
}

.toggle {
  cursor: pointer;
  &:hover {
    background-color: #0b51c5 !important;
    color: white !important;
    td {
      color: white !important;
      &.actions {
        .action-link {
          &:hover {
            svg {
              fill: #d3fffc;
            }
          }
        }

        a {
          svg {
            fill: white;
          }

        }
      }

    }
  }
}

#eat {
  background-image: url('../img/slide-eat.png');
  background-size: 170%;
  background-position: center center;
}

.item-rest-hover {
  position: relative;
  .layout-item-rest {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: $mainColorText;
    opacity: 0.7;
  }
  &:hover {
    .layout-item-rest {
      display: flex;
      z-index: 9;
    }
    .text-rest {
      display: flex;
    }
  }

  .text-rest {
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    span {
      border: 3px solid white;
      z-index: 10;
      font-size: 60px;
      color: white;
      padding: 0 25px 0 25px;
      font-weight: bold;
    }
  }
}

#chief {
  .desc-chief {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px 0 20px;
    .title-desc-chief {
      display: block;
      background-color: $mainColorText;
      text-transform: uppercase;
      color: white;
      font-size: 38px;
      padding: 0 20px 0 20px;
      font-weight: bold;
    }
    .text-desc-chief {
      margin-top: 20px;
      text-align: center;
      display: block;
      color: $mainColorText;
      font-size: 16px;

    }
  }
}

#menu {
  .desc-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px 0 20px;
    .title-desc-menu {
      display: block;
      background-color: $mainColorText;
      text-transform: uppercase;
      color: white;
      font-size: 38px;
      padding: 0 20px 0 20px;
      font-weight: bold;
    }
  }
  .time-work {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400 !important;
    .main-time-work {
      //margin-top: 10px;
      font-weight: 400 !important;
      .dayswork {
        margin-top: 10px;
      }
      .clock-work {
        margin-top: 10px;
      }
    }
  }
}

#card-section {
 // height: 100vh;
  margin-top: 100px;
}

.cards {
 // height: 100vh;
  width: 100%;
  align-items: flex-start;
  padding-bottom: 120px;

  .card-item {
    border: 2px solid #c6c6c6;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 0 30px;
    transition: 0.5s;

    &:hover {
      border: 2px solid white;
      box-shadow:  0 10px 15px rgba(0, 0, 0, 0.1);
    }

    .card-top {
      //margin-top: 20px;
      height: 200px;
      width: 100%;
    }

    .card-body {
      height: 50%;
      width: 100%;
      .title-card-body {
        text-align: center;

        span {
          font-size: 34px;
          font-weight: bold;
        }
      }

      .text-card-body {
        font-weight: 400 !important;
        text-align: center;
      }
    }
  }
}

.card-top {
  &#card-1 {
    background-image: url("../img/card-img/card-1.jpg");
    background-size: cover;
    background-position: center center;
  }

  &#card-2 {
    background-image: url("../img/card-img/card-2.jpg");
    background-size: cover;
    background-position: center center;
  }

  &#card-3 {
    background-image: url("../img/card-img/card-3.jpg");
    background-size: cover;
    background-position: center center;
  }
}

.btn-look-more {
  border: 2px solid $mainColorText;
  padding: 0 40px 0 40px;
  color: $mainColorText;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 50px;

  &:hover {
    background-color: $mainColorText;
    color: white;
  }
}

#contacts {
  height: 100vh;
  background-color: $mainColorText;
}

.contacts {
  margin-top: 100px;
  width: 100%;
  .wrapper-soc-net {
    .social-net {
      width: 100%;
      .item-soc-icon {
        cursor: pointer;
        img {
          height: 60px;
        }
      }
    }
  }

  .contats-info {
    margin-top: 100px;
    height: 30vh;
    justify-content: space-around;
    span {
      color: white !important;
    }
    .item-cont-info {
      img {
        height: 25px;
        margin-right: 25px;
      }
    }
  }
}

.admin-table {
  thead {
    tr {
      th {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
      }
    }
  }
}

.inp-problem-create {
  &#parent_id {
    padding-right: 0 !important;
  }
  &#status {
    padding-left: 0 !important;
  }
}

.btn-admin-section {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  &:hover {
    background-color: #9933CC;
    color: white !important;
  }
}

.dashboard-admin-title {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
  font-weight: bold;
  div {
    h3 {
      font-weight: bold;
    }
  }

}

.icons {
  fill: #d62f2f;
  width: 30px;
  height: 30px;
  &:hover {
    fill: #ff3535;
  }
}

.actions {
  text-align: center;
}

.form-subProblem {
  margin-top: 100px;
  width: 100%;
}

.toggle {
  transition: height 300ms;
}

.collapss {
  transition: height 300ms;
}

@media screen and(max-width: 992px) {
  nav {
    .navbar-collapse {
      ul {
        li {
          margin: 0 !important;
          text-align: center;
        }
      }
    }
  }
}

.additional-form-admin {
  padding: 20px 15px 20px 15px;
  margin: 20px 0 20px 0;
}

.ql-container {
  height: 250px !important;
}

.link-add-types-room {
  height: 100%;
  width: 40px;
  svg {
    width: 100%;
    height: 100%;
    fill: #ce0004;
  }
  &:hover {
    svg {
      fill: #ff0004;
    }
  }
}

.types-room {
  flex-grow: 1;
}

.card-type-create {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 200px;
  padding: 20px;
}

.layout-admin {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: $z-index-light;
}

.modal-web {
  background-color: black;
  z-index: $z-index-medium;
  width: 400px;
  height: 200px;
  position: absolute;
}

.mod-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  z-index: $z-index-medium;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
    fill: #ce0004;
  }
  &:hover {
    svg {
      fill: #ff0004;
    }
  }

}

/*=====================NAV_ADMIN=======================*/

.nav-admin {
  border: 0 !important;
  box-shadow:    0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
  background-color: #aa66cc;
  width: 20%;
  min-height: 100vh;
  nav {
    height: 100%;
    border: 0 !important;
    color: white;
    align-items: flex-start;
    padding-top: 40px;
    ul {
      li {
        a {
          color: white;
        }
      }
    }
  }
}

.container-content-admin {
  position: relative;
  min-height: 100vh;
  padding: 0 30px 0 30px;
  width: 80%;
}

.container-admin {
  padding-top: 40px;
  width: 100%;
}

/*==================ANIMATE=====================*/

.fade-in {
  animation: fadein 2.5s;
  -moz-animation: fadein 2.5s; /* Firefox */
  -webkit-animation: fadein 2.5s; /* Safari and Chrome */
  -o-animation: fadein 2.5s; /* Opera */
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*===========================*/

.fadein-layout {
  animation: fadein-layout 0.4s;
  -moz-animation: fadein-layout 0.4s; /* Firefox */
  -webkit-animation: fadein-layout 0.4s; /* Safari and Chrome */
  -o-animation: fadein-layout 0.4s; /* Opera */
}

@keyframes fadein-layout {
  from { opacity: 0; }
  to   { opacity: 0.7; }
}

/* Firefox < 16 */
@-moz-keyframes fadein-layout {
  from { opacity: 0; }
  to   { opacity: 0.7; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein-layout {
  from { opacity: 0; }
  to   { opacity: 0.7; }
}

/* Internet Explorer */
@-ms-keyframes fadein-layout {
  from { opacity: 0; }
  to   { opacity: 0.7; }
}

/*===========================*/

.fadeout {
  animation: fadeout 1.5s;
  -moz-animation: fadeout 1.5s; /* Firefox */
  -webkit-animation: fadeout 1.5s; /* Safari and Chrome */
  -o-animation: fadeout 1.5s; /* Opera */
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/*===========================*/

.fadeout-layout {
  animation: fadeout-layout 1.5s;
  -moz-animation: fadeout-layout 1.5s; /* Firefox */
  -webkit-animation: fadeout-layout 1.5s; /* Safari and Chrome */
  -o-animation: fadeout-layout 1.5s; /* Opera */
}

@keyframes fadeout-layout {
  from { opacity: 0.7; }
  to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout-layout {
  from { opacity: 0.7; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout-layout {
  from { opacity: 0.7; }
  to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout-layout {
  from { opacity: 0.7; }
  to   { opacity: 0; }
}
